table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 100%;
    min-height: 560px;

    border-radius: 5px;
    border: 1px solid #CDCDCD;
}

thead {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: 50px;
}

th {
    font-weight: 700;
}

tbody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: 50px;

    border-top: 1px solid #CDCDCD;
}

td {
    font-weight: 400;
}

thead, tbody {
    width: 100%;
    height: 100%;
}

th, td {
    display: flex;
    width: 100%;
    max-width: 90px;
    height: 100%;
    max-height: 50px;
    justify-content: center;
    align-items: center;

    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.project-auth-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 1px solid #00F;

    color: #00F;
}

.project-unauth-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;

    border-radius: 5px;
    border: 1px solid #F00;

    color: #F00;
}

.project-unauth-btn:hover {
    background-color: #F00;
    color: #FFF;
    cursor: pointer;
}